{% extends 'base.html' %}

{% block titulo %}
    Gerenciamento da loja
{% endblock %}

{% block body %}
    <h3>Gerenciamento</h3>

<p>Faturamento: {{ faturamento }}</p>
<p>Produtos vendidos: {{ qtn_pedidos }}</p>
<p>Total pedidos: {{ qtn_produtos }}</p>

<hr>
<h3>Exporta relatorios</h3>

<a href="{% url 'exportar_relatorios' 'pedidos' %}">Exportar Pedidos</a>
<a href="{% url 'exportar_relatorios' 'clientes' %}">Exportar Clientes</a>
<a href="{% url 'exportar_relatorios' 'enderecos' %}">Exportar Endereços</a>


{% endblock %}