{% extends 'base.html' %}

{% block titulo %}
    Meus Pedidos
{% endblock %}

{% block body %}
<h3>Pedidos</h3>

<a href="{% url 'minha_conta' %}">Minha Conta</a><br>

{% for pedido in pedidos %}
<div>
    <p>Número Pedido: {{ pedido.id }}</p>
    <p>Data pedido:{{ pedido.data_finalizacao }}</p>
    <p>Total: R$ {{ pedido.preco_total }}</p>
    <p>Enviado para: {{ pedido.endereco.rua }}, {{ pedido.endereco.numero }}, {{ pedido.endereco.cidade }} - {{ pedido.endereco.estado }}, CEP: {{ pedido.endereco.cep }}</p>

    {% for item in pedido.itens %}
    <div>
    <img src="{{ item.item_estoque.produto.imagem.url }}" alt="" width="100" height="150">
    <p>Modelo: {{ item.item_estoque.produto.nome }}</p>
    <p>Tamanho: {{ item.item_estoque.tamanho }}</p>
    <p>Cor: {{ item.item_estoque.cor.nome }}</p>
    <p>Quantidade: {{ item.quantidade }}</p>
    <p>Valor Unitário: R$ {{ item.item_estoque.produto.preco }}</p>
    </div>
    {% endfor %}

</div>
{% endfor %}

{% endblock %}