{% extends 'base.html' %}

{% block titulo %}
    Checkout
{% endblock %}

{% block body %}

{% if messages %}
  {% for message in messages %}
    <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible fade show" role="alert">
      {{ message }}
    </div>
  {% endfor %}
{% endif %}


<main class="principal">
      <section class="secao-checkout">
        <a href="{% url 'carrinho' %}" class="checkout__botao">Voltar ao carrinho</a>
        <div class="checkout">
          <form
            class="checkout__form"
            action="{% url 'finalizar_pedido' pedido.id %}"
            method="post"
          >
              {% csrf_token %}
            <!-- Adicionar a classe 'checkout__secao-entrega-login--logado' na div abaixo quando o usuário estiver logado -->
            <div
              class="checkout__secao-entrega-login {% if request.user.is_authenticated %} checkout__secao-entrega-login--logado {% endif %}"
            >
              <div class="checkout__secao-login">
                <div class="checkout__titulos">
                  <p class="checkout__titulo">Identifique-se</p>
                </div>

                <div class="checkout__endereco-item">
                  <label for="email">E-mail</label>
                  <input name="email" type="email" />
                </div>
              </div>

              <div class="checkout__secao-entrega">
                <div class="checkout__titulos">
                  <p class="checkout__titulo">Endereço de entrega</p>
                  <a
                    class="checkout__botao checkout__botao--entrega"
                    type="button"
                    href="{% url 'adicionar_endereco' %}"
                  >
                    Adicionar novo endereço de entrega
                  </a>
                </div>
                <div class="">

                    {% for endereco in enderecos %}

                          <div class="checkout__pagamento-item">
                            <input type="radio" name="endereco" value="{{ endereco.id }}" />
                            <label for="{{ endereco.id }} ">{{ endereco.rua }} , {{ endereco.numero }} / Bairro: {{ endereco.bairro }} - {{ endereco.cidade }} - {{ endereco.estado }} - Cep: {{ endereco.cep }} </label><br>
                          </div>
                    {% endfor %}
                </div>

              </div>
            </div>

            <div class="checkout__secao-pagamento-infos">
            <div class="checkout__secao-pagamento">
                <div class="checkout__titulos">
                  <p class="checkout__titulo">Formas de Pagamento</p>
                </div>

                <div class="checkout__pagamento-formas">
                  <div class="checkout__pagamento-item">
                    <p>Cartão de Crédito</p>
                  </div>

                  <div class="checkout__pagamento-item">
                    <p>Boleto</p>
                  </div>

                  <div class="checkout__pagamento-item">

                    <p>PIX</p>
                  </div>

                  <input
                    type="hidden"
                    name="total"
                    value="{{ ordem.preco_total }}"
                  />
                </div>
              </div>
              <div class="checkout__secao-infos">
                <div class="checkout__titulos checkout__titulos--mb">
                  <p class="checkout__titulo">Resumo</p>
                </div>

                <div class="subtotal__infos">
                  <p>Quantidade de Produtos</p>
                  <p>{{ pedido.quantidade_total_itens }}</p>
                </div>

                <div class="subtotal__infos subtotal__infos--sborda">
                  <p>Total</p>
                  <p>R$ {{ pedido.preco_total }}</p>
                </div>
                  <input type="hidden" value="{{ pedido.preco_total }}" name="total">
                    <button class="subtotal__botao" type="submit">
                  Pagamento
                </button>
              </div>
            </div>

          </form>
        </div>
      </section>
    </main>

{% endblock %}