{% extends 'base.html' %}
{% load static %}

{% block titulo %}
    Produto
{% endblock %}

{% block body %}
    <h3>{{ produto.nome }}</h3>

    {% if tem_estoque %}

        {{ itens_estoque }}

        <img src="{{ produto.imagem.url }}" width="300" height="450">
        <p>{{ produto.nome }}</p>
        <p>{{ produto.preco }}</p>

        {% if cor %}
            Cor Selecionada: {{ cor.nome }}
        {% endif %}

        {% for cor in cores %}
            <a href="{% url 'ver_produto' produto.id cor.id %}">
                <i class="fa-solid fa-circle" style="color: {{ cor.codigo }};"></i>
            </a>
        {% endfor %}

        {% if tamanhos %}
        <form action="{% url 'adicionar_carrinho' produto.id %}" method="POST">
            {% csrf_token %}
            {% for tamanho in tamanhos %}
            <input type="radio" name="tamanho" value="{{ tamanho }}">
            <label for="{{ tamanho }} ">{{ tamanho }} </label>
            {% endfor %}

        {% endif %}

            <input type="hidden" name="cor" value="{{ cor.id }}">
            <button type="submit">Adicionar ao carrinho</button>
        </form>

    {% else %}
        <p>Produto sem estoque</p>
    {% endif %}

{% endblock %}